.loginGroup{
    width:300px;
    display: flex;
    justify-content: center;
    .loginInput{
        width:100%;
    }
    .loginButton{
        width:50%;
    }
}
.forgotPassword{
    justify-content: space-between;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border:none;
        outline: none;
        color:#1976d2;
        cursor: pointer;
        text-decoration: underline;
        img{
            width:20px;
            height:20px;
            margin-right: 4px;
            object-fit:scale-down;
        }
    }
    a{
        color:#1976d2;
    }
}